body{
  margin: 0;
  padding: 0;
}

.ui-layout-pane {
  border-width: 0;
  padding: 0;
  margin: 0;
}

.ui-layout-north {
  background-color: #eeeeee;
}

#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.markdown-body {
  min-width: 200px;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type: decimal !important;
}

.markdown-body ol.linenums {
  padding-left: 4em; /* 给行号留出位置 */
  color: #bbbbbb;
}

li.none-style {
  list-style: none;
}

#toolbar {
  padding-left: 32px;
  color: #666666;
}

#toolbar .fa {
  padding: 2px;
  border: 1px solid transparent;
}

#toolbar .fa:hover {
  background-color: #dddddd;
  border-color: #cccccc;
  cursor: pointer;
}

.ui-layout-toggler {
  background-color: #cccccc;
}
.ui-layout-toggler:hover {
  background-color: #add8e6;
}

.heading-icon {
  font-weight: bold;
}

i.dividor {
  font-style: normal;
  color: #dddddd;
  margin: 0 6px;
}

.taskbox {
  margin-right: 8px !important;
}

.noneselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
