body{
  margin: 0;
  padding: 0;
}

.ui-layout-pane {
  border-width: 0;
}

.ui-layout-center {
  padding: 0;
  margin: 0;
}

.ui-layout-east {
  padding: 0;
  margin: 0;
}

#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}
