body{
  margin: 0;
  padding: 0;
}

.ui-layout-pane {
  border-width: 0;
  padding: 0;
  margin: 0;
}

#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.markdown-body {
  min-width: 200px;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type: decimal !important;
}

.markdown-body ol.linenums {
  padding-left: 4em; /* 给行号留出位置 */
  color: #bbbbbb;
}

li.none-style {
  list-style: none;
}

#toolbar {
  padding-left: 64px;
}

#toolbar .fa:hover {
  background-color: #dddddd;
}
