.ui-layout-pane {
  border-width: 0;
}

.ui-layout-center {
  padding: 0;
  margin: 0;
}

.ui-layout-east {
  padding: 0;
  margin: 0;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
