body{
  margin: 0;
  padding: 0;
}

.app-only {
  display: none;
}
.guest-only { /* 未注册用户 */
  display: none;
  color: red;
}

.ui-layout-pane {
  border-width: 0;
  padding: 0;
  margin: 0;
}

.ui-layout-north { /* 工具栏背景色 */
  background-color: #eeeeee;
}

#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.markdown-body { /* 最大宽度模拟 Foundation */
  min-width: 16em;
  max-width: 62.5em;
  margin: 0 auto;
  padding: 1em;
}

#toolbar {
  padding-left: 16px;
  color: #666666;
}

#toolbar .fa {
  padding: 2px;
  border: 1px solid transparent;
}

#toolbar .icon {
  padding: 0 2px;
  border: 1px solid transparent;
}

#toolbar .fa:hover, #toolbar .icon:hover {
  background-color: #dddddd;
  border-color: #cccccc;
  cursor: pointer;
}

.ui-layout-toggler {
  background-color: #cccccc;
}
.ui-layout-toggler:hover {
  background-color: #add8e6; /* 浅蓝色 */
}

.heading-icon {
  font-weight: bold;
}

i.dividor { /* toolbar 上面的分隔竖线 */
  font-style: normal;
  color: #dddddd;
  margin: 0 6px;
}

.noselect { /* toolbar上面的按钮无论怎样点击都不应该选中 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* source code highlight */
.markdown-body .ace-github {
  background-color: #f7f7f7 !important;
}
.markdown-body .ace-github .ace_static_highlight {
  font-size: 13.6px !important;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}
.markdown-body .ace-github .ace_gutter {
  color: rgba(0,0,0,0.3) !important;
  margin-right: 16px !important;
  background-color: #f7f7f7 !important;
}
.markdown-body .ace-github .ace_keyword, .markdown-body .ace-github .ace_modifier {
  color: #a71d5d !important;
  font-weight: normal !important;
}
.markdown-body .ace-github .ace_string {
  color: #183691 !important;
}
.markdown-body .ace-github .ace_tag-name, .markdown-body .ace-github .ace_constant {
  color: #63a35c !important;
}
.markdown-body .ace-github .ace_attribute-name, .markdown-body .ace-github .ace_variable {
  color: #795da3 !important;
}
.markdown-body .ace-github .ace_comment {
  color: #969896 !important;
  font-style: normal !important;
}
.markdown-body .ace-github .ace_numeric, .markdown-body .ace-github .ace_type {
  color: #0086b3 !important;
}

.remodal-overlay {
  background: rgba(33, 36, 46, 0.6) !important;
}

div.mermaid {
  text-align: center;
}

/*************************/
/* below is for printing */
/*************************/

@media print {
  .ui-layout-pane-north, .ui-layout-pane-center .ui-layout-resizer, .ui-layout-toggler {
    display: none !important;
  }

  table, pre, blockquote, div.mermaid {
    page-break-inside: avoid;
  }

  .markdown-body { /* 打印不需要 scroll past end， 省纸 */
    padding-bottom: 0 !important;
  }
}
