body {
  margin: 0;
  padding: 0;
}


.ui-layout-pane {
  border-width: 0;
  padding: 0;
  margin: 0;
}
.ui-layout-north { /* toolbar background color */
  background-color: #eeeeee;
}
.ui-layout-toggler {
  background-color: #cccccc;
}
.ui-layout-toggler:hover {
  background-color: #add8e6; /* light blue */
}


#toolbar {
  padding-left: 16px;
  color: #666666;
}
#toolbar .fa {
  padding: 2px;
  border: 1px solid transparent;
}
#toolbar .icon {
  padding: 0 2px;
  border: 1px solid transparent;
}
#toolbar .fa:hover, #toolbar .icon:hover {
  background-color: #dddddd;
  border-color: #cccccc;
  cursor: pointer;
}


#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.heading-icon {
  font-weight: bold;
}

i.dividor { /* dividor on toolbar */
  font-style: normal;
  color: #dddddd;
  margin: 0 6px;
}

.noselect { /* icons toolbar shouldn't be selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remodal-overlay {
  background: rgba(33, 36, 46, 0.6) !important;
}

.form-control {
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea#custom-css-files {
  width: 256px;
  height: 64px;
}


/*************************/
/* below is for printing */
/*************************/

@media print {
  .ui-layout-pane-north, .ui-layout-pane-center .ui-layout-resizer, .ui-layout-toggler {
    display: none !important;
  }

  .markdown-body { /* no scroll past endï¼Œ saving paper */
    padding-bottom: 0 !important;
  }
}
