body{
  margin: 0;
  padding: 0;
}

.app-only {
  display: none;
}
.guest-only { /* 未注册用户 */
  display: none;
}

.ui-layout-pane {
  border-width: 0;
  padding: 0;
  margin: 0;
}

.ui-layout-north { /* 工具栏背景色 */
  background-color: #eeeeee;
}

#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

#toolbar {
  padding-left: 16px;
  color: #666666;
}

#toolbar .fa {
  padding: 2px;
  border: 1px solid transparent;
}

#toolbar .icon {
  padding: 0 2px;
  border: 1px solid transparent;
}

#toolbar .fa:hover, #toolbar .icon:hover {
  background-color: #dddddd;
  border-color: #cccccc;
  cursor: pointer;
}

.ui-layout-toggler {
  background-color: #cccccc;
}
.ui-layout-toggler:hover {
  background-color: #add8e6; /* 浅蓝色 */
}

.heading-icon {
  font-weight: bold;
}

i.dividor { /* toolbar 上面的分隔竖线 */
  font-style: normal;
  color: #dddddd;
  margin: 0 6px;
}

.noselect { /* toolbar上面的按钮无论怎样点击都不应该选中 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remodal-overlay {
  background: rgba(33, 36, 46, 0.6) !important;
}

/*************************/
/* below is for printing */
/*************************/

@media print {
  .ui-layout-pane-north, .ui-layout-pane-center .ui-layout-resizer, .ui-layout-toggler {
    display: none !important;
  }

  table, pre, blockquote, div.mermaid {
    page-break-inside: avoid;
  }

  .markdown-body { /* 打印不需要 scroll past end， 省纸 */
    padding-bottom: 0 !important;
  }
}
