@import 'npm:codemirror/theme/*.css';

/* main layout */
#root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#rows-grid {
  display: grid;
  grid-template-rows: 20px 6px 1fr;
  height: 100vh;
}
#cols-grid {
  display: grid;
  grid-template-columns: 1fr 6px 1fr;
  height: 100%;
  overflow: hidden;
}
#left-panel {
  height: 100%;
  overflow: scroll;
}
#right-panel {
  height: 100%;
  overflow: scroll;
  position: relative;
}

#row-gutter {
  grid-column: 1/-1;
  grid-row: 2;
  cursor: pointer;
}

#col-gutter {
  grid-row: 1/-1;
  grid-column: 2;
  cursor: col-resize;
}

.gutter {
  background-color: #dddddd;
}
.gutter:hover {
  background-color: #c4e1a4;
}

#toolbar {
  overflow: hidden;
}

#toolbar {
  padding-left: 16px;
  color: #666;
}
#toolbar .fa {
  padding: 2px 5px;
  border: 1px solid transparent;
}
#toolbar .icon {
  padding: 0 2px;
  border: 1px solid transparent;
}
#toolbar .fa:hover,
#toolbar .icon:hover {
  background-color: #ddd;
  border-color: #ccc;
  cursor: pointer;
}

.heading-icon {
  font-weight: bold;
}

.dividor {
  /* dividor on toolbar */
  font-style: normal;
  color: #ddd;
  margin: 0 6px;
}

.noselect {
  /* icons toolbar shouldn't be selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CodeMirror {
  margin: 0;
  padding: 0;
  height: 100% !important;
}

/*************************/
/* below is for printing */
/*************************/

@media print {
  #toolbar,
  #row-gutter,
  #left-panel,
  #col-gutter {
    display: none !important;
  }
}
