@import 'npm:codemirror/theme/*.css';

html,
body,
.CodeMirror {
  margin: 0;
  padding: 0;
  height: 100% !important;
}

/* react root container */
body > div {
  /*
  below will make whole page freeze after open and close a modal
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  */
  height: 100vh;
}

#rows-grid {
  display: grid;
  grid-template-rows: 20px 6px 1fr;
  height: 100vh;
}
#row-gutter {
  grid-column: 1/-1;
  grid-row: 2;
  cursor: pointer;
}

#cols-grid {
  display: grid;
  grid-template-columns: 1fr 6px 1fr;
  height: 100%;
  overflow: hidden;
}
#col-gutter {
  grid-row: 1/-1;
  grid-column: 2;
  cursor: col-resize;
}

.gutter {
  background-color: #dddddd;
}
.gutter:hover {
  background-color: #c4e1a4;
}

#toolbar {
  overflow: hidden;
}
#left-panel,
#right-panel {
  overflow: scroll;
}

#toolbar {
  padding-left: 16px;
  color: #666;
}
#toolbar .fa {
  padding: 2px 5px;
  border: 1px solid transparent;
}
#toolbar .icon {
  padding: 0 2px;
  border: 1px solid transparent;
}
#toolbar .fa:hover,
#toolbar .icon:hover {
  background-color: #ddd;
  border-color: #ccc;
  cursor: pointer;
}

#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.heading-icon {
  font-weight: bold;
}

.dividor {
  /* dividor on toolbar */
  font-style: normal;
  color: #ddd;
  margin: 0 6px;
}

.noselect {
  /* icons toolbar shouldn't be selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-control {
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition:
    border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -moz-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
}

#custom-css-files,
#custom-js-files {
  width: 256px;
  height: 64px;
}

.hint {
  font-size: 80%;
}

/*************************/
/* below is for printing */
/*************************/

@media print {
  #toolbar,
  #row-gutter,
  #left-panel,
  #col-gutter {
    display: none !important;
  }
}
